<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HomePage</title>
</head>
<style>
    body{
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: 'Roboto Light', sans-serif;
        font-size: 20px;
        background: linear-gradient(to bottom, #00d2ff, #928dab);
        color: #fff;
    }
    h1{
        text-transform: uppercase;
    }
</style>
<body>
<nav>
    <ul>
        <li><a href="/">Home Page</a> </li>
        <li><a href="/view_records">View Records</a> </li>
    </ul>
</nav>
<h1>View Records</h1>
</body>
</html>